
/* Width */
.width-100 {
  width: 100%;
}

/* Margin */
.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-70 {
  margin-top: 70px;
}

.margin-top-100 {
  margin-top: 100px;
}

.margin-left-5rem {
  margin-left: 5rem;
}

/* Padding */

.padding-15 {
  padding: 15px;
}

/* Font*/

.font-size-30 {
  font-size: 30px;
}

.font-size-25 {
  font-size: 25px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-15 {
  font-size: 15px;
}

.font-bold {
  font-weight: bold;
}

.font-color-grey {
  color: rgba(0, 0, 0, 0.5);
}
